body {
    background-image: linear-gradient(#636162, #b1afaf);
    min-height: 80vh;
    font-family: Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    background-color: white;
    width: 1000px;
    max-width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 56%;
    display: flex;
}
.left {
    background-color: #fbb03b;
    width: 300px;
    padding: 10px;
}
.right {
    width: 450px;
    padding: 20px;
}
.profile-img {
    height: 220px;
    width: 200px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 auto 20px;
    border: 10px solid #fbb03b;
    box-shadow: 6px 7px 9px 5px #fbb03b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-img img {
    width: 95%;
    height:95%;
    border-radius: 50%;
}
.box-1 {
    margin-bottom: 5px;
}
.heading {
    background-color: #4d4d4d;
    padding: 10px;
    color: #fbb03b;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-family:Times-newroman;
}
.p1 {
    padding: 5px 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    font-family:Times-newroman;
}
.icons1 {
    font-size: 20px;
    padding-right: 10px;
    vertical-align: middle;
}
.skill-container {
    width: 90%;
    background-color: #4d4d4d;
    margin: 5px 10px;
    height: 10px;
    position: relative;
}
.skill {
    height: 100%;
    background-color: white;
}
.html { width: 90%; }
.css { width: 80%; }
.js { width: 85%; }
.java { width: 80%; }
.web { width: 85%; }
.gra { width: 70%; }

.icons2 {
    padding: 18px 10px;
    font-size: 20px;
    display: inline-block;
    margin-right: 5px;
}
.name-div {
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-family:Times-newRoman;
}
.name-div h1 {
    margin-bottom: 10px;
    font-size: 24px;
}
.box-2 {
    margin-bottom: 20px;
}
h2 {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.icons3 {
    margin-left: 5px;
    font-size: 20px;
    color: #4d4d4d;
}
.p2 {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
    margin-top: 5px;
}
.p3 {
    font-size: 13px;
    word-spacing: 1px;
    letter-spacing: 0;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.p3 span {
    color: #ff9b00;
    padding-left: 10px;
}

